.sras {
  position: absolute;
  bottom: -7%;  
  left: 60%;
  transform: translateX(-50%);
  width: 250px;  
  height: auto;
  z-index: 7;
   transition-duration: .2s;
   cursor: pointer;
 
 
}

.sras:hover{
    filter:
       drop-shadow(2px 0 0 #ffffff79)
        drop-shadow(-1px 0 0 #ffffff79)
      
}


.cartel2 {
  position: absolute;
  bottom: 36%;  
  left: 44%;
  transform: translateX(-50%);
  width: 300px;  
  height: auto;
  z-index: 3;
   transition-duration: .2s;
 
 
}


.sombrass{
   position: absolute;
   bottom: -11%;  
   left: 99%;
   transform: translateX(-50%);
   width: 970px;  
   height: auto;
   z-index: 4;
    transition-duration: .2s;
   
   




}


.sombra3s {
  position: absolute;
  bottom: -11%;  
  left: 18%;
  transform: translateX(-50%);
  width: 1255px;  
  height: auto;
  z-index: 4;
   transition-duration: .2s;
   cursor: pointer;
 
 
}


.troncos {
  position: absolute;
  bottom: -16%;  
  left: 27%;
  transform: translateX(-50%);
  width: 788px;  
  height: auto;
  z-index: 5;
   transition-duration: .2s;
 
 
}


.cartel:hover{
 
    filter:
       drop-shadow(2px 0 0 #3b1602)
        drop-shadow(-2px 0 0 #3b1602)
        drop-shadow(0 2px 0 #3b1602)
       
}




.sr2:hover{
 
    filter:
       drop-shadow(2px 0 0 #3b1602)
        drop-shadow(-2px 0 0 #3b1602)
        drop-shadow(0 2px 0 #3b1602)
       
}



.hojas:hover{
 
    filter:
       drop-shadow(2px 0 0 #3b1602)
        drop-shadow(-2px 0 0 #3b1602)
        drop-shadow(0 2px 0 #3b1602)
       
}


.pasto3 {
  position: absolute;
  bottom: -26%;  
  left: 50%;
  transform: translateX(-50%);
  width: 1592px;  
  height: auto;
  z-index: 4;
   transition-duration: .2s;
   cursor: pointer;
 
 
}
.scream {
  position: absolute;
  bottom: -10%;  
  left: 50%;
  transform: translateX(-50%);
  width: 1900px;  
  height: auto;
  z-index: 1;
   transition-duration: .2s;
 
 
}

.sol3{

   position: absolute;
   bottom: 10%;  
   left: 83%;
   transform: translateX(-50%);
   width: 350px;  
   height: auto;
   z-index: 2;
    transition-duration: .2s;
  
}

.pastos4{
   
   position: absolute;
   bottom: -10%;  
   left: 50%;
   transform: translateX(-50%);
   width: 1592px;  
   height: auto;
   z-index: 4;
    transition-duration: .2s;
    cursor: pointer;
}

.pasto2:hover{
 
    filter:
       drop-shadow(2px 0 0 #3b1602)
        drop-shadow(-2px 0 0 #3b1602)
        drop-shadow(0 2px 0 #3b1602)
       
}
