@font-face {
    font-family: 'Dacherry';
    src: url(../assets/Dacherry.otf);
}




.personaje {
  position: absolute;
  top: 0;  
  left: 48%;
  transform: translateX(-50%);
  width: 1200px;  
  height: auto;
  z-index: 4;
   transition-duration: .2s;
   cursor: pointer;
 
}

.mi-svg {
 position: absolute;
  left: 1500%;
  width: 50px;  
  height: auto;
   transition-duration: .2s;
   margin-top: 220px;
   cursor: pointer;
}

.mi-svg:hover {
  transform: scale(1.2);
  filter:
       drop-shadow(2px 0 0 #3b1602)
        drop-shadow(-2px 0 0 #3b1602)
       
}

.encuentra {
   max-width: 5px;
 position: absolute;
  left: 15%;
  font-size: 30px;
   transition-duration: .2s;
   margin-top: 220px;
   cursor: pointer;
   z-index: 26;
   font-family: 'Dacherry';
   color: white;
}

.sr {
  position: absolute;
  bottom: 18%;   
  left: 43%;
  transform: translateX(-50%);
  width: 180px;  
  height: auto;
  z-index: 14;
     transition: .25s ease;
  cursor: pointer;
}

.sr:hover{
  
    filter:
       drop-shadow(2px 0 0 #3b1602)
        drop-shadow(-2px 0 0 #3b1602)
        drop-shadow(0 2px 0 #3b1602)
        
}

.sra {
   position: absolute;
  bottom: 2%;   
  left: 56%;
  transform: translateX(-50%);
  width: 235px;  
  height: auto;
  z-index: 14;
     transition: .25s ease;
     cursor: pointer;
}

.sra:hover{
  
    filter:
       drop-shadow(2px 0 0 #3b1602)
        drop-shadow(-2px 0 0 #3b1602)
        drop-shadow(0 2px 0 #3b1602)
       
}


.tierra {
  position: absolute;
  bottom: 10%;   
  left: 50%;
  transform: translateX(-50%);
  width: 78%;  
  height: auto;
  z-index: 10;
   transition-duration: .2s;
  cursor: pointer;
 
}

.hierba {
  position: absolute;
  bottom: 10%;   
  left: 50%;
  transform: translateX(-50%);
  width: 80%;  
  height: auto;
  z-index: 10;
   transition-duration: .2s;
  
 cursor: pointer;
}

.arbol {
  position: absolute;
  bottom: 14%;   
  left: 50%;
  transform: translateX(-50%);
  width: 50%;  
  height: auto;
  z-index: 13;
   transition-duration: .2s;
  cursor: pointer;
 
}

.tierra:hover{
  
    filter:
       drop-shadow(2px 0 0 #3b1602)
        drop-shadow(-2px 0 0 #3b1602)
        
      
}

.arbol:hover{
  
    filter:
       drop-shadow(2px 0 0 #3b1602)
        drop-shadow(-2px 0 0 #3b1602)
        
      
}

.sol {
  position: absolute;
  bottom: 11%;   
  left: 53%;
  transform: translateX(-50%);
  width: 68%;  
  height: auto;
  z-index: 12;
   transition-duration: .2s;
 cursor: pointer; 
 
}

.sol:hover{
  
    filter:
       drop-shadow(2px 0 0 #331302)
      
      
}