
@font-face {
    font-family: 'Dacherry';
    src: url(../assets/Dacherry.otf);
}
@font-face {
    font-family: 'abalon';
    src: url(../assets/abalon.otf);
}

 /* derrota */

.go-wrap {
  position: fixed;
  inset: 0;
  overflow: hidden;
  background: #000;
}

/* Video de fondo */
.go-anim {
  position: absolute;
  inset: 0;
}

.go-anim-img {
  width: 1450%;
  height: 100%;
  object-fit: cover; /* llena toda la pantalla */
}

/* Botón sonido */
.sound-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
   padding: .8rem 1.8rem;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,.4);
  font-family: 'abalon', cursive;
  background: rgba(0,0,0,.5);
  backdrop-filter: blur(10px);

  color: white;
  cursor: pointer;
}

/* Footer */
.go-footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
 font-family: 'abalon', cursive;
  display: flex;
  align-items: center;
  gap: 1rem;

  z-index: 2;
}

.go-btn {
  padding: .8rem 1.8rem;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,.4);

  background: rgba(0,0,0,.5);
  backdrop-filter: blur(10px);

  color: white;
  cursor: pointer;
}

.go-logo {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.sound-btn {
  transition: transform 0.3s ease;
}

.sound-btn:hover {
  transform: scale(1.1) translateY(8px);
}

.go-footer {
  display: flex;
  align-items: center;
  gap: 1rem;

  transition: transform 0.35s ease;
}

.go-footer:hover {
  transform: scale(1.08) translateY(10px);
}
       /* intefaz capitulos */

      :root{
  --bg:#ecdccc;
  --card:#fcc465;
  --orange:#e49454;
  --soft:#8a6a55;
  --line:#c7a98b;
  --brown:#8a6a55;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body,
#root{
  width:100%;
  height:100%;
  
}

body{
  background:var(--bg);
  font-family:Arial, Helvetica, sans-serif;
  overflow:hidden;
  zoom: 68%;
}

/* ===========================
   CONTENEDOR
=========================== */

.interfaz-wrapper{
  width:100%;
  min-height:100vh;
 margin-top: 30px;
  display:flex;
  justify-content:center;
  align-items:center;

  padding:1rem;
}

.interfaz-cap {
  width: 1475px;
  width: min(1475px);

  background: var(--card);
  border-radius: 16px;
  box-shadow: 8px 8px 0 var(--brown);
  overflow: hidden;
  position: relative;
}

/* ===========================
   GAME AREA
=========================== */

.game-area{
    position: relative;
    overflow: hidden;
  background:#fff;
    perspective: 1800px;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    
}

/* Aquí viven LuisPlugin y Parte2 */

.anim-label{

  position:relative;

  width:1200px;
  height:675px;

  transform-origin:center;

}

/* ===========================
   BARRA
=========================== */

.controls-bar,
.found-slots{

  padding:1rem;

}

.controls-bar{

  border-bottom:2px solid var(--brown);

}

/* ===========================
   BOTONES
=========================== */

.btn-ctrl{

  width:50px;
  height:50px;

  border:none;

  background:var(--orange);

  border-radius:10px;

  display:flex;
  justify-content:center;
  align-items:center;

  cursor:pointer;

}

.btn-ctrl-full{

  width:42px;
  height:42px;

}

.iconos{

  width:30px;
  height:30px;

}

.flechitas{

  width:55px;

}

.rows{

  display:flex;

  align-items:center;

  gap:1rem;

}

.slot-label{

  margin-bottom:.7rem;

  color:var(--soft);

  font-size:.75rem;

}

.slot{

  width:55px;

  aspect-ratio:1;

  border:2px dashed var(--line);

  border-radius:10px;

  background:#ecdcc8;

}





/* ===========================
   FULLSCREEN GAME AREA
=========================== */

.game-area:fullscreen{

    width:100vw;
    height:100vh;

    background:#000;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;
}

.game-area:fullscreen .anim-label{

    width:100%;
    height:100%;

}

.game-area:fullscreen .screen{

    width:100%;
    height:100%;

}

.game-area:fullscreen video,
.game-area:fullscreen img{

    max-width:none;

}

